@charset "UTF-8";

body {
    font-family: "Hiragino Sans", Meiryo, sans-serif;
    font-size: 16px;
    color:rgb(80, 80, 80);
    margin: 20px;
    padding: 20px;

}

a {
    text-decoration: none;
    color: #333;
}

img {
    border-radius: 20px;
}

.logo {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.logo img {
    display: inline-block;
    margin-bottom: 5px;
}

.logo h1 {
    color: rgb(129, 93, 45);
}

.header {
    width: 1200px;
    margin: 0 auto;
}

.header ul {
    display: flex;
    list-style: none;
}

.header ul li {
    width: 230px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 20px;
    background-color: rgb(255, 254, 215);
    box-shadow: 0px 0px 0px 5px rgb(255, 254, 215);
    border: dashed 3px white;
    font-size: 16px;
}

.header ul li a {
    display: block;
}

li+ li {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

.header_img {
    text-align: center;
    margin-bottom: 30px;
}
.header_img img {
    display: inline-block;
}

.container {
    width: 1100px;
    margin: 0px auto;
    display: flex;
}
.item01 {
    width: 70%;
}
.item01 h2{
    text-align: center;
    padding: 0.5em;
    background:rgb(255, 254, 215);
    border-left: solid 10px #ffbf47;
    width: 650px;
    margin: 20px;
}
.item02{
    width: 22%;
    border: dashed 3px #ffbf47;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
}

.item02 h2 {
    text-align: center;
    background: rgb(255, 254, 215);
    margin: 20px;
}

video {
    margin: 0 50px;
}

#information {  
    padding: 80px 0 100px;  
    color: #222;  
    text-align: center;  
}

#information .wrapper {  
    margin: 0 auto;  
    width: 100%;  
    max-width: 1000px;
}

#information h1 {  
    display: inline-block;  
    margin: 0 auto 40px;  
    padding-bottom: 10px;   
    font-weight: 700;
    color:rgb(148, 105, 50)  
}

#information article {  
    margin-bottom: 40px;  
    padding: 40px 40px 35px;  
    text-align: left;
}

#information article .text_date {  
    font-size: 15px;
}

#information article h2 {  
    margin-bottom: 30px;  
    padding-bottom: 15px;  
    font-size: 20px;  
    line-height: 2.0em;  
    border-bottom: 2px solid #016e32;
}

#information article .text_content {  
    line-height: 2.0em;  
    font-size: 17px;
    display: inline-block;
    vertical-align: top;
    width: 60%;
    margin-left: 50px;
}

.about-img, .about-message {
    display: inline-block;
    vertical-align: middle;
    width: 700px;
    margin-top: 50px;
    padding: 10px;
}

th,td {
    border: solid 1px;
    padding: 20px;
}

th {
    width: 150px;
    background-color:rgb(255, 254, 215);
}

td { 
    width: 250px;
    text-align: center;
}

table {
    border-collapse: collapse;
}

.title h1 {
    text-align: center;
    color:rgb(148, 105, 50)
}

.grid {
    display: grid;
    gap: 120px;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 50px;
}

.item > p {
    text-align: center;
}

.contact-form {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1.5px solid #222(170, 170, 170, 0.856);
    padding: 50px 0;
    border: dashed 3px #ffbf47;
    margin: 20px;
    border-radius: 20px;
}

form > p, .contact-form > p {
    text-align: center;
    font-size: 24px;
    padding-bottom: 20px;
}

.lead-form{
    text-align: center;
    font-size:20px;
}

form{
    width:550px;
    margin:0 auto;
}

.item{
    overflow: hidden;
    margin-bottom: 20px;
}

.label{
    float: left;
    margin-right: 20px;
    width: 135px;
    padding-left: 10px;
}

.inputs{
    float: left;
    width:300px;
  }

input[type="text"],input[type="email"]{
    border: solid 1px #222;
    border-radius:5px;
    padding:10px;
    font-size: 15px;
}

textarea{
    border: solid 1px #222;
    border-radius:5px;
    padding: 10px;
    height: 200px;
    font-size: 17px;
}

.btn-area{
    text-align: center;
}

input[type="submit"]{
    background-color: #ff6347;
    border: none;
    font-size:20px;
    color: white;
    font-weight:bold;
    padding: 10px 20px;
    margin: 0 5px;
}
  

